@font-face {
    font-family: 'Styrene A LC Web-Light', sans-serif;
    src: url('../fonts/StyreneAWeb-Light.woff2') format('woff2'),
         url('../fonts/StyreneAWeb-Light.woff') format('woff');
    font-weight: 300;     
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Styrene A LC Web-Regular', sans-serif;
    src: url('../fonts/StyreneAWeb-Regular.woff2') format('woff2'),
         url('../fonts/StyreneAWeb-Regular.woff') format('woff');
    font-weight: 400;     
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Styrene A LC Web-Medium', sans-serif;
    src: url('../fonts/StyreneAWeb-Medium.woff2') format('woff2'),
         url('../fonts/StyreneAWeb-Medium.woff') format('woff');
    font-weight: 500;     
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Styrene A LC Web-BoldItalic', sans-serif;
    src: url('../fonts/StyreneAWeb-BoldItalic.woff2') format('woff2'),
         url('../fonts/StyreneAWeb-BoldItalic.woff') format('woff');
    font-weight: 600;     
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Styrene A LC Web-Bold', sans-serif;
    src: url('../fonts/StyreneAWeb-Bold.woff2') format('woff2'),
         url('../fonts/StyreneAWeb-Bold.woff') format('woff');
    font-weight: 700;     
    font-style: normal;
    font-display: swap;
}


// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-Thin-Cy-Web.eot");
// 		src: url("StyreneA-Thin-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-Thin-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-Thin-Cy-Web.woff") format("woff");
// 	font-weight: 100;
// 	font-style: normal;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-ThinItalic-Cy-Web.eot");
// 		src: url("StyreneA-ThinItalic-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-ThinItalic-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-ThinItalic-Cy-Web.woff") format("woff");
// 	font-weight: 100;
// 	font-style: italic;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-Light-Cy-Web.eot");
// 		src: url("StyreneA-Light-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-Light-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-Light-Cy-Web.woff") format("woff");
// 	font-weight: 300;
// 	font-style: normal;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-LightItalic-Cy-Web.eot");
// 		src: url("StyreneA-LightItalic-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-LightItalic-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-LightItalic-Cy-Web.woff") format("woff");
// 	font-weight: 300;
// 	font-style: italic;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-Regular-Cy-Web.eot");
// 		src: url("StyreneA-Regular-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-Regular-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-Regular-Cy-Web.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-RegularItalic-Cy-Web.eot");
// 		src: url("StyreneA-RegularItalic-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-RegularItalic-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-RegularItalic-Cy-Web.woff") format("woff");
// 	font-weight: 400;
// 	font-style: italic;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-Medium-Cy-Web.eot");
// 		src: url("StyreneA-Medium-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-Medium-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-Medium-Cy-Web.woff") format("woff");
// 	font-weight: 500;
// 	font-style: normal;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-MediumItalic-Cy-Web.eot");
// 		src: url("StyreneA-MediumItalic-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-MediumItalic-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-MediumItalic-Cy-Web.woff") format("woff");
// 	font-weight: 500;
// 	font-style: italic;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-Bold-Cy-Web.eot");
// 		src: url("StyreneA-Bold-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-Bold-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-Bold-Cy-Web.woff") format("woff");
// 	font-weight: 700;
// 	font-style: normal;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-BoldItalic-Cy-Web.eot");
// 		src: url("StyreneA-BoldItalic-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-BoldItalic-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-BoldItalic-Cy-Web.woff") format("woff");
// 	font-weight: 700;
// 	font-style: italic;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-Black-Cy-Web.eot");
// 		src: url("StyreneA-Black-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-Black-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-Black-Cy-Web.woff") format("woff");
// 	font-weight: 900;
// 	font-style: normal;
// 	}

// @font-face {
// 	font-family: "Styrene A LC Web";
// 	src: url("StyreneA-BlackItalic-Cy-Web.eot");
// 		src: url("StyreneA-BlackItalic-Cy-Web.eot?#iefix") format("embedded-opentype"),
// 		     url("StyreneA-BlackItalic-Cy-Web.woff2") format("woff2"),
// 		     url("StyreneA-BlackItalic-Cy-Web.woff") format("woff");
// 	font-weight: 900;
// 	font-style: italic;
// 	}