%sf-light {
    font-family: 'SFProDisplay-Light', sans-serif;
    font-weight: 300;
}

%sf-regular {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
}

%sf-medium {
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 500;
}

%sf-semibold {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
}

%sf-bold {
    font-family: 'SFProDisplay-bold', sans-serif;
    font-weight: 700;
}

.StyreneA-Thin-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

.StyreneA-ThinItalic-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
}

.StyreneA-Light-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

.StyreneA-LightItalic-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}

.StyreneA-Regular-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

.StyreneA-RegularItalic-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

.StyreneA-Medium-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

.StyreneA-MediumItalic-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

.StyreneA-Bold-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

.StyreneA-BoldItalic-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}

.StyreneA-Black-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

.StyreneA-BlackItalic-Cy-Web {
    font-family: "Styrene A LC Web";
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
}