%sf-light {
    font-family: 'Styrene A LC Web-Light', sans-serif;
    font-weight: 300;
}

%sf-regular {
    font-family: 'Styrene A LC Web-Regular', sans-serif;
    font-weight: 400;
}

%sf-medium {
    font-family: 'Styrene A LC Web-Medium', sans-serif;
    font-weight: 500;
}

%sf-BoldItalic {
    font-family: 'Styrene A LC Web-BoldItalic', sans-serif;
    font-weight: 600;
}

%sf-bold {
    font-family: 'Styrene A LC Web-Bold', sans-serif;
    font-weight: 700;
}

// .StyreneA-Thin-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 100;
//     font-style: normal;
//     font-stretch: normal;
// }

// .StyreneA-ThinItalic-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 100;
//     font-style: italic;
//     font-stretch: normal;
// }

// .StyreneA-Light-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 300;
//     font-style: normal;
//     font-stretch: normal;
// }

// .StyreneA-LightItalic-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 300;
//     font-style: italic;
//     font-stretch: normal;
// }

// .StyreneA-Regular-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 400;
//     font-style: normal;
//     font-stretch: normal;
// }

// .StyreneA-RegularItalic-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 400;
//     font-style: italic;
//     font-stretch: normal;
// }

// .StyreneA-Medium-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 500;
//     font-style: normal;
//     font-stretch: normal;
// }

// .StyreneA-MediumItalic-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 500;
//     font-style: italic;
//     font-stretch: normal;
// }

// .StyreneA-Bold-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 700;
//     font-style: normal;
//     font-stretch: normal;
// }

// .StyreneA-BoldItalic-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 700;
//     font-style: italic;
//     font-stretch: normal;
// }

// .StyreneA-Black-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 900;
//     font-style: normal;
//     font-stretch: normal;
// }

// .StyreneA-BlackItalic-Cy-Web {
//     font-family: "Styrene A LC Web";
//     font-weight: 900;
//     font-style: italic;
//     font-stretch: normal;
// }